#container {
	width: 575px;
	margin-left: auto;
	margin-right: auto;
	
}

#box {
	width: 41px;
	height: 41px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-table;
	border-collapse: collapse;
	vertical-align: top;
}