#container {
	position: relative;
	width: 645px;
	margin-left: auto;
	margin-right: auto;
}

#box {
	width: 45px;
	height: 45px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-table;
	border-collapse: collapse;
	vertical-align: top;
}

#player{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
}

#turn{
	position: absolute;
	top: 20px;
	left: 0;
	color: white;
}